a{
    color: blue;
    text-decoration: none;
    &:hover{color: lightcoral}
}
body{
    background: white;
    font-family: Calibri, sans-serif;
    font-size: 1.25em;
    margin: 5px; padding: 0;
}
h1{text-align: center}
input{
    font-size: 1em;
    float: left;
    margin: 1px;
    padding: 5px;
    &[type="submit"], &[type="button"]{
        background: lightcoral;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        border: 0;
        outline: 0;
        padding: 3px;
        &:active{background: black}
    }
    &::placeholder{
        color: red;
        font-style: italic;
    }
}
table{
    width: 100%;
    th{background: lightblue};
    tr{
        &:nth-child(even){background: #f2f2f2}
        &.onStatus{color: green}
        td, th{padding: 3px 5px;}
    }
    &#styleAE{
        tr{background: white}
        th{width: 100px}
        input[type="submit"]{width: 100%}
    }
}